@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:wght@400;700&display=swap');

html,
body {
    background-color: #292929;
    height: 100%;
    /* touch-action: none; */
    /* pointer-events: none; */
    width: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}