@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:wght@400;700&display=swap');

#canvas {
    margin: 0;
    padding: 0;
    /* touch-action: none; */
    z-index: 750;
}

#grid {
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    /* touch-action: none; */
    width: 100%;
    z-index: -999;
}

#debug_section {
    bottom: 250px;
    color: white;
    font-family: 'Roboto', sans-serif;
    left: 75px;
    position: fixed;
    width: 200px;
    z-index: 999;
}

#debug_box {
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
}

#debug_label {
    font-size: .75em;
    margin: 0 0 10px 10px;
    text-transform: uppercase;
}

#coords_label {
    bottom: 10px;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 1em;
    font-weight: 400;
    left: 10px;
    /* position: fixed; */
    /* z-index: 999; */
}

@keyframes popInAnimation {
    0% {
        scale: 0;
    }

    50% {
        scale: 1.1;
    }

    100% {
        scale: 1;
    }
}

#room_controls {
    bottom: 50px;
    height: 200px;
    left: 30%;
    position: fixed;
    width: 300px;
}

.control {
    animation: popInAnimation ease-in .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    cursor: pointer;
    font-size: 1em;
    padding: 0;
    position: fixed;
    transition: all 0.3s ease 0s;
}

.control:hover {
    transform: scale(1.1);
}

.add_room {
    border-radius: 75px;
    bottom: 75px;
    font-size: 1.5em;
    height: 75px;
    left: 75px;
    width: 75px;
}

.edit_room {
    bottom: 160px;
    left: 75px;
}

.delete_room {
    border-radius: 50px;
    bottom: 75px;
    height: 50px;
    left: 160px;
    width: 50px;
}

.delete_room:hover {
    color: red;
    border-color: red;
    scale: 1.1;
}

#debug {
    bottom: 145px;
    left: 145px;
}

.filled_control {
    background-color: #fff;
    border: none;
    color: black;
}

.outlined_control {
    background-color: transparent;
    border: 2px solid white;
    color: white;
}

.medium_control {
    border-radius: 50px;
    height: 50px;
    width: 50px;
}

.small_control {
    border-radius: 50px;
    height: 35px;
    width: 35px;
}

.hidden {
    display: none;
    transition: all 0.3s ease 0s;
}

#view {
    border-radius: 50px;
    bottom: 220px;
    height: 50px;
    left: 75px;
    width: 50px;
}

/* #view:hover {
    background-color: #fff;
    border: none;
    color: black;
} */

#zoom_in {
    bottom: 227px;
    left: 135px;
}

#zoom_out {
    bottom: 227px;
    left: 180px;
}

#reset_zoom {
    bottom: 227px;
    left: 225px;
}